## Installation

You can install this version via pip from [PyPI](https://pypi.org/project/{{ repo_name }}/{{ version }}/):

```console
python -m pip install {{ repo_name }}=={{ version }}
```
or pull the Docker image from [GHCR](https://github.com/{{ repo_owner }}/{{ repo_name }}/pkgs/container/{{ repo_name }}):

```console
docker pull ghcr.io/{{ repo_owner }}/{{ repo_name }}:{{ version }}
```
