name: CI

on:
  push:
    branches: [main]

concurrency:
  group: ci-${{ github.head_ref }}
  cancel-in-progress: true

# Set permissions at the job level.
permissions: {}

env:
  PYTHONUNBUFFERED: 1
  FORCE_COLOR: 1

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit
  release:
    # disables this workflow from running in a repository that is not part of the indicated organization/user
    if: github.repository_owner == 'afuetterer'
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    needs:
    - test
    steps:
    - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      with:
        fetch-depth: 0 # get all commits and tags
        token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
    - name: Create semantic release
      id: release
      uses: python-semantic-release/python-semantic-release@9555482f978fee890bd79b2ebac3095a20217375 # v9.7.3
      with:
        # allows for python-semantic-release to push to protected main branch
        github_token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
    - name: Publish package to GitHub Release
      uses: python-semantic-release/upload-to-gh-release@20f89b4f4295bb541e2fa54418e606eefbd0f567 # v9.7.3
      if: ${{ steps.release.outputs.released }} == 'true'
      with:
        github_token: ${{ secrets.SEMANTIC_RELEASE_TOKEN }}
