{%- set releases = context.history.released.items() | list -%}
{%- set prev_version = releases[1][0] -%}
## Release Notes
{% include ".changes.j2" %}
{{ "**Full Changelog**: (%s)" | format(prev_version | compare_url(version)) }}
## Installation
You can install this version via pip from [PyPI](https://pypi.org/project/python-re3data/{{ version }}/):
```console
python -m pip install python-re3data=={{ version }}
```
