# Changelog

All notable changes to this project will be documented in this file.

This project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html). See
[conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) for commit guidelines.
{% from ".macros.j2" import version_compare_url %}

{# UNRELEASED -#}
{% set last_release = context.history.released.items() | first | first -%}
{% set unreleased = version_compare_url(last_release.as_tag(), "main") -%}
## [Unreleased]({{ unreleased }})

{# RELEASED #}
{% for version, release in context.history.released.items() -%}
{% if loop.nextitem %}
{%- set prev_version = loop.nextitem[0] %}
{%- set compare_url = version_compare_url(prev_version, version) %}
## [{{ version.as_tag() }}]({{ compare_url }}) ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% else %}
## {{ version.as_tag() }} ({{ release.tagged_date.strftime("%Y-%m-%d") }})
{% endif %}
{% include ".changes.j2" %}
{% endfor -%}
